arabic-reshaper
asgiref
certifi
cffi
charset-normalizer
cryptography
cssselect2
dj-database-url
Django
et_xmlfile
gunicorn
html5lib
idna
lxml
openpyxl
pillow
psycopg2-binary
pycparser
pypdf
python-dotenv
PyYAML
reportlab
requests
six
sqlparse
tinycss2
tzdata
tzlocal
uritools
urllib3
webencodings
whitenoise
xhtml2pdf